<!doctype html>
<!--[if IE 8]><html class="ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html class="ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="HandheldFriendly", content="True")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  title Isomorphic Test

body
  main#main.main
    != form
  script(src="https://d2y1h8z11rh263.cloudfront.net/js/zepto.custom.js")
  script(src="/build.js")

</html>